@page "/"

<h1>Welcome to the online ConTabs demo</h1>

<p>Over time, we'll flesh this out. In the meantime, try the style picker.</p>

<p>This site is built using <a href="https://github.com/aspnet/Blazor">Blazor</a></p>
<blockquote>An experimental .NET web framework using C#/Razor and HTML that runs in the browser via WebAssembly</blockquote>

<p>For more info on ConTabs, see <a href="http://blog.tdwright.co.uk/series/modern-dotnet-dev-contabs/">my blog series</a>, or head to <a href="https://github.com/tdwright/contabs">the GitHub repo</a>.</p>